.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,200%);
    gap: 30;
    width: 100%;
    background-color: aqua;
}
.item{
    padding: 30px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container .item:nth-child(odd){
    background-color: blanchedalmond;
}
.container .item:nth-child(even){
    background-color: aquamarine;
}